<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class> signInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern> /signIn </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class> AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern> /adminLogin </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class> ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern> /managerLogin </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class> ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern> /resetPass </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyEmailServlet</servlet-name>
    <servlet-class> VerifyEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEmailServlet</servlet-name>
    <url-pattern> /verifyEmail </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountConfirmationServlet</servlet-name>
    <servlet-class> AccountConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountConfirmationServlet</servlet-name>
    <url-pattern> /accountConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class> userProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern> /userProfile </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern> /purchaseHistory </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern> /editUserProfile </url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern> /editEmailPreferences </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class> logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern> /logout </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class> homepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern> /homepage </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <servlet-class> viewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <url-pattern> /viewDetails </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookTicketsServlet</servlet-name>
    <servlet-class> bookTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketsServlet</servlet-name>
    <url-pattern> /bookTickets </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseSeatsServlet</servlet-name>
    <servlet-class> chooseSeatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseSeatsServlet</servlet-name>
    <url-pattern> /chooseSeats </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class> cartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern> /cart </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class> checkoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern> /checkout </url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <servlet-class> orderConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <url-pattern> /orderConfirmation </url-pattern>
  </servlet-mapping>
</web-app>